.input {
  position: relative;
}

.input-password input {
  padding-right: 35px;
}

.input-extra {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
